## Notes

Kaggle Data: https://www.kaggle.com/datasets/rikdifos/credit-card-approval-prediction
* Notes: Would propose changing (1) The data source is unclear, (2) we have to define our own "bad credit", (3) we have to deal with 2 databases

Alternatives: 
* https://archive.ics.uci.edu/ml/datasets/default+of+credit+card+clients
    * Default of credit card clients Data Set
* https://www.kaggle.com/datasets/nikhilbhathi/data-scientist-salary-us-glassdoor
    * Data Scientsist Salary in the US
* https://www.kaggle.com/datasets/koki25ando/salary
    * NBA Salary Dataset

In [21]:
# Environment Setup
library(tidyverse)
library(readxl)       #read excel files from online

set.seed(154)

# Credit Card Approval Prediction
___

## Introduction
___

* Provide some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal
* Clearly state the question you will try to answer with your project
* Identify and describe the dataset that will be used to answer the question

In [31]:
taiwan_credit_card_data <- read_excel('data/default of credit card clients.xls',sheet='Data',skip=1)

head(taiwan_credit_card_data)
glimpse(taiwan_credit_card_data)

  ID LIMIT_BAL SEX EDUCATION MARRIAGE AGE PAY_0 PAY_2 PAY_3 PAY_4 <U+22EF>
1 1   20000    2   2         1        24   2    2     -1    -1    <U+22EF>
2 2  120000    2   2         2        26  -1    2      0     0    <U+22EF>
3 3   90000    2   2         2        34   0    0      0     0    <U+22EF>
4 4   50000    2   2         1        37   0    0      0     0    <U+22EF>
5 5   50000    1   2         1        57  -1    0     -1     0    <U+22EF>
6 6   50000    1   1         2        37   0    0      0     0    <U+22EF>
  BILL_AMT4 BILL_AMT5 BILL_AMT6 PAY_AMT1 PAY_AMT2 PAY_AMT3 PAY_AMT4 PAY_AMT5
1     0         0         0        0       689        0       0        0
2  3272      3455      3261        0      1000     1000    1000        0
3 14331     14948     15549     1518      1500     1000    1000     1000
4 28314     28959     29547     2000      2019     1200    1100     1069
5 20940     19146     19131     2000     36681    10000    9000      689
6 19394     19619     20024     2500      1815      657    1000     1000
  PAY_AMT6 default payment next month
1    0     1
2 2000     1
3 5000     0
4 1000     0
5  679     0
6  800     0

Rows: 30,000
Columns: 25
$ ID                           <dbl> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13~
$ LIMIT_BAL                    <dbl> 20000, 120000, 90000, 50000, 50000, 50000~
$ SEX                          <dbl> 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 2, 2, 2, 1,~
$ EDUCATION                    <dbl> 2, 2, 2, 2, 2, 1, 1, 2, 3, 3, 3, 1, 2, 2,~
$ MARRIAGE                     <dbl> 1, 2, 2, 1, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2,~
$ AGE                          <dbl> 24, 26, 34, 37, 57, 37, 29, 23, 28, 35, 3~
$ PAY_0                        <dbl> 2, -1, 0, 0, -1, 0, 0, 0, 0, -2, 0, -1, -~
$ PAY_2                        <dbl> 2, 2, 0, 0, 0, 0, 0, -1, 0, -2, 0, -1, 0,~
$ PAY_3                        <dbl> -1, 0, 0, 0, -1, 0, 0, -1, 2, -2, 2, -1, ~
$ PAY_4                        <dbl> -1, 0, 0, 0, 0, 0, 0, 0, 0, -2, 0, -1, -1~
$ PAY_5                        <dbl> -2, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, -1, -1~
$ PAY_6                        <dbl> -2, 2, 0, 0, 0, 0, 0, -1, 0, -1, -1, 2, -~
$ BILL_AMT1                    <dbl> 3913, 2682, 29239, 46990, 8617, 64400, 36~
$ BILL_AMT2                    <dbl> 3102, 1725, 14027, 48233, 5670, 57069, 41~
$ BILL_AMT3                    <dbl> 689, 2682, 13559, 49291, 35835, 57608, 44~
$ BILL_AMT4                    <dbl> 0, 3272, 14331, 28314, 20940, 19394, 5426~
$ BILL_AMT5                    <dbl> 0, 3455, 14948, 28959, 19146, 19619, 4830~
$ BILL_AMT6                    <dbl> 0, 3261, 15549, 29547, 19131, 20024, 4739~
$ PAY_AMT1                     <dbl> 0, 0, 1518, 2000, 2000, 2500, 55000, 380,~
$ PAY_AMT2                     <dbl> 689, 1000, 1500, 2019, 36681, 1815, 40000~
$ PAY_AMT3                     <dbl> 0, 1000, 1000, 1200, 10000, 657, 38000, 0~
$ PAY_AMT4                     <dbl> 0, 1000, 1000, 1100, 9000, 1000, 20239, 5~
$ PAY_AMT5                     <dbl> 0, 0, 1000, 1069, 689, 1000, 13750, 1687,~
$ PAY_AMT6                     <dbl> 0, 2000, 5000, 1000, 679, 800, 13770, 154~
$ `default payment next month` <dbl> 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,~

In [18]:
application_record <- read_csv('data/application_record.csv')
head(application_record)

credit_record <- read_csv('data/credit_record.csv')
head(credit_record)

Rows: 438557 Columns: 18
-- Column specification --------------------------------------------------------
Delimiter: ","
chr  (8): CODE_GENDER, FLAG_OWN_CAR, FLAG_OWN_REALTY, NAME_INCOME_TYPE, NAME...
dbl (10): ID, CNT_CHILDREN, AMT_INCOME_TOTAL, DAYS_BIRTH, DAYS_EMPLOYED, FLA...

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  ID      CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY CNT_CHILDREN
1 5008804 M           Y            Y               0
2 5008805 M           Y            Y               0
3 5008806 M           Y            Y               0
4 5008808 F           N            Y               0
5 5008809 F           N            Y               0
6 5008810 F           N            Y               0
  AMT_INCOME_TOTAL NAME_INCOME_TYPE     NAME_EDUCATION_TYPE
1 427500           Working              Higher education
2 427500           Working              Higher education
3 112500           Working              Secondary / secondary special
4 270000           Commercial associate Secondary / secondary special
5 270000           Commercial associate Secondary / secondary special
6 270000           Commercial associate Secondary / secondary special
  NAME_FAMILY_STATUS   NAME_HOUSING_TYPE DAYS_BIRTH DAYS_EMPLOYED FLAG_MOBIL
1 Civil marriage       Rented apartment  -12005     -4542         1
2 Civil marriage       Rented apartment  -12005     -4542         1
3 Married              House / apartment -21474     -1134         1
4 Single / not married House / apartment -19110     -3051         1
5 Single / not married House / apartment -19110     -3051         1
6 Single / not married House / apartment -19110     -3051         1
  FLAG_WORK_PHONE FLAG_PHONE FLAG_EMAIL OCCUPATION_TYPE CNT_FAM_MEMBERS
1 1               0          0          NA              2
2 1               0          0          NA              2
3 0               0          0          Security staff  2
4 0               1          1          Sales staff     1
5 0               1          1          Sales staff     1
6 0               1          1          Sales staff     1

Rows: 1048575 Columns: 3
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (1): STATUS
dbl (2): ID, MONTHS_BALANCE

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  ID      MONTHS_BALANCE STATUS
1 5001711  0             X
2 5001711 -1             0
3 5001711 -2             0
4 5001711 -3             0
5 5001712  0             C
6 5001712 -1             C

## Preliminary Exploratory Data Analysis
___

* Demonstrate that the dataset can be read from the web into R 
* Clean and wrangle your data into a tidy format
* Using only **training data**, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data. 
* Using only **training data**, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

## Methods
___

* Explain how you will conduct either your data analysis and which variables/columns you will use. <u>Note - you do not need to use all variables/columns that exist in the raw data set. In fact, that's often not a good idea. For each variable think: is this a useful variable for prediction?</u>
* Describe at least one way that you will visualize the results

## Expected Outcomes and Significance
___

* What do you expect to find?
* What impact could such findings have?
* What future questions could this lead to?