## Notes

In [1]:
# Environment Setup
library(tidyverse)
library(tidymodels)
library(readxl)

options(repr.plot.width = 10, repr.plot.height = 8)

# Credit Card Default Prediction
___

## Introduction
___

**TODO: (!!! delete below in final draft)**
* Provide some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal
* Clearly state the question you will try to answer with your project
* Identify and describe the dataset that will be used to answer the question

#### **Background** ####
Credit Card is an essential part of our daily lives today. Per Statista there were 76M credit cards in circulation within Canada implaying 2 per every Canadian. In addition to the impact it has on everyday citizens, credit card is booming and loan securitization is a huge business for banks and asset managers. As such, a large credit card default at a macro level could lead to systemic failures of banks and the broader capital markets similar to the one observed in GFC.

#### **Thesis** ####
Using the data and the techniques learned in class, we would like to answer the question: **can we predict the default status of a credit card client?**

#### **Data** ####
The data is from an unnamed debit and credit card issuing bank in Taiwan. The data consists of information about 30,000 customers as at October 2005, of which 23,364 (78%) have not defaulted while 6,636 (22%) have defaulted. The default status is represented as binary variable (1 = Yes, 0 = No). Variables available to be used as direct inputs are as below:
* **X1**: Amount of Credit Given (NT$)
* **X2**: Sex (1 = Male, 2 = Female)
* **X3**: Education (1 = Graduate School, 2 = University, 3 = High School, 4 = Others)
* **X4**: Marital Status (1 = Married, 2 = Single, 3 = Others)
* **X5**: Age (# of Years)
* **X6-X11**: Repayment Status (-1 = Clear, 1 = Payment Delay of 1 Month, 2 = Payment Delay of 2 Months, ..., 8 = Payment Delay of 8 Months, 9 = Payment Delay of 9 Months or greater)
    * **X6**  = Repayment status in 2005-09
    * **X7**  = Repayment status in 2005-08
    * **X8**  = Repayment status in 2005-07
    * **X9**  = Repayment status in 2005-06
    * **X10** = Repayment status in 2005-05
    * **X11** = Repayment status in 2005-04
* **X12-X17**: Amount of Bill Statement (NT$)
    * **X12** = Amount of Bill Statement in 2005-09
    * **X13** = Amount of Bill Statement in 2005-08
    * **X14** = Amount of Bill Statement in 2005-07
    * **X15** = Amount of Bill Statement in 2005-06
    * **X16** = Amount of Bill Statement in 2005-05
    * **X17** = Amount of Bill Statement in 2005-04
* **X18-X23**: Amount of Previous Payment (NT$)
    * **X18** = Amount Paid in 2005-09
    * **X19** = Amount Paid in 2005-08
    * **X21** = Amount Paid in 2005-06
    * **X20** = Amount Paid in 2005-07
    * **X21** = Amount Paid in 2005-05
    * **X23** = Amount Paid in 2005-04

Source of Data: https://archive.ics.uci.edu/ml/datasets/default+of+credit+card+clients

## Preliminary Exploratory Data Analysis
___

* Demonstrate that the dataset can be read from the web into R 
* Clean and wrangle your data into a tidy format
* Using only **training data**, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data. 
* Using only **training data**, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

In [2]:
columns = c('id', 'credit_limit', 'sex', 'education', 'marital_status', 'age',
            'status_09', 'status_08', 'status_07', 'status_06', 'status_05', 'status_04',
            'balance_09', 'balance_08', 'balance_07', 'balance_06', 'balance_05', 'balance_04',
            'payment_09', 'payment_08', 'payment_07', 'payment_06', 'payment_05', 'payment_04',
            'y')
            
credit_card_data <- read_excel('data/default of credit card clients.xls',sheet='Data',skip=2,col_names=columns) |>
    select(-id)

head(credit_card_data)
glimpse(credit_card_data)

  credit_limit sex education marital_status age status_09 status_08 status_07
1  20000       2   2         1              24   2        2         -1
2 120000       2   2         2              26  -1        2          0
3  90000       2   2         2              34   0        0          0
4  50000       2   2         1              37   0        0          0
5  50000       1   2         1              57  -1        0         -1
6  50000       1   1         2              37   0        0          0
  status_06 status_05 ⋯ balance_06 balance_05 balance_04 payment_09 payment_08
1 -1        -2        ⋯     0          0          0         0         689
2  0         0        ⋯  3272       3455       3261         0        1000
3  0         0        ⋯ 14331      14948      15549      1518        1500
4  0         0        ⋯ 28314      28959      29547      2000        2019
5  0         0        ⋯ 20940      19146      19131      2000       36681
6  0         0        ⋯ 19394      19619      20024      2500        1815
  payment_07 payment_06 payment_05 payment_04 y
1     0         0          0          0       1
2  1000      1000          0       2000       1
3  1000      1000       1000       5000       0
4  1200      1100       1069       1000       0
5 10000      9000        689        679       0
6   657      1000       1000        800       0

Rows: 30,000
Columns: 24
$ credit_limit   <dbl> 20000, 120000, 90000, 50000, 50000, 50000, 500000, 1000…
$ sex            <dbl> 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 2, 2, 2, 1, 1, 2, 1, 1, 2…
$ education      <dbl> 2, 2, 2, 2, 2, 1, 1, 2, 3, 3, 3, 1, 2, 2, 1, 3, 1, 1, 1…
$ marital_status <dbl> 1, 2, 2, 1, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 3, 2, 1, 1…
$ age            <dbl> 24, 26, 34, 37, 57, 37, 29, 23, 28, 35, 34, 51, 41, 30,…
$ status_09      <dbl> 2, -1, 0, 0, -1, 0, 0, 0, 0, -2, 0, -1, -1, 1, 0, 1, 0,…
$ status_08      <dbl> 2, 2, 0, 0, 0, 0, 0, -1, 0, -2, 0, -1, 0, 2, 0, 2, 0, 0…
$ status_07      <dbl> -1, 0, 0, 0, -1, 0, 0, -1, 2, -2, 2, -1, -1, 2, 0, 0, 2…
$ status_06      <dbl> -1, 0, 0, 0, 0, 0, 0, 0, 0, -2, 0, -1, -1, 0, 0, 0, 2, …
$ status_05      <dbl> -2, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, -1, -1, 0, 0, 0, 2, …
$ status_04      <dbl> -2, 2, 0, 0, 0, 0, 0, -1, 0, -1, -1, 2, -1, 2, 0, 0, 2,…
$ balance_09     <dbl> 3913, 2682, 29239, 46990, 8617, 64400, 367965, 11876, 1…
$ balance_08     <dbl> 3102, 1725, 14027, 48233, 5670, 57069, 412023, 380, 140…
$ balance_07     <dbl> 689, 2682, 13559, 49291, 35835, 57608, 445007, 601, 121…
$ balance_06     <dbl> 0, 3272, 14331, 28314, 20940, 19394, 542653, 221, 12211…
$ balance_05     <dbl> 0, 3455, 14948, 28959, 19146, 19619, 483003, -159, 1179…
$ balance_04     <dbl> 0, 3261, 15549, 29547, 19131, 20024, 473944, 567, 3719,…
$ payment_09     <dbl> 0, 0, 1518, 2000, 2000, 2500, 55000, 380, 3329, 0, 2306…
$ payment_08     <dbl> 689, 1000, 1500, 2019, 36681, 1815, 40000, 601, 0, 0, 1…
$ payment_07     <dbl> 0, 1000, 1000, 1200, 10000, 657, 38000, 0, 432, 0, 50, …
$ payment_06     <dbl> 0, 1000, 1000, 1100, 9000, 1000, 20239, 581, 1000, 1300…
$ payment_05     <dbl> 0, 0, 1000, 1069, 689, 1000, 13750, 1687, 1000, 1122, 3…
$ payment_04     <dbl> 0, 2000, 5000, 1000, 679, 800, 13770, 1542, 1000, 0, 66…
$ y              <dbl> 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0…

In [6]:
### set.seed(154)
credit_card_split <- credit_card_data |> initial_split(prop=0.75, strata = y)
credit_card_train <- training(credit_card_split)
credit_card_test <- testing(credit_card_split)

credit_card_train <- mutate(credit_card_train, y = as.factor(y))
credit_card_test <- mutate(credit_card_test, y = as.factor(y))

In [7]:
credit_card_recipe <- recipe(y ~ ., data = credit_card_train)

knn_spec <- nearest_neighbor(weight_func = "rectangular", neighbors = tune()) |> 
        set_engine("kknn")|>
        set_mode("classification")

credit_card_vfold <- vfold_cv(credit_card_train, v = 5, strata = y)


credit_card_workflow <- workflow()|>
        add_recipe(credit_card_recipe)|>
        add_model(knn_spec)|>
        tune_grid(resamples = credit_card_vfold, grid = 10)|>
        collect_metrics()

data_accuracy <- credit_card_workflow |>
    filter(.metric == "accuracy")

## Methods
___

* Explain how you will conduct either your data analysis and which variables/columns you will use. <u>Note - you do not need to use all variables/columns that exist in the raw data set. In fact, that's often not a good idea. For each variable think: is this a useful variable for prediction?</u>
* Describe at least one way that you will visualize the results

## Expected Outcomes and Significance
___

* What do you expect to find?
* What impact could such findings have?
* What future questions could this lead to?